/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 200;
  }
  .navbar-brand{
    padding-left: 1vw;
  }
  .active:hover{
    cursor: default;
  }
  
  #hero-section{
    height: 75vh;
    width: 100%;
    background-image: url(img/greece_photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #profile{
    position: relative;
    top: 18vh;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    border: 5px solid rgba(0,0,0,.2);
    border-radius: 50%;
    overflow-y: hidden;
  }
  #profile img{
    width: 100%;
    transform: translateY(-14%);
    /* border-radius: inherit; */
  }
  #hero-section h1{
    text-align: center;
    margin-top: 18vh;
    color: whitesmoke;
  }
  #hero-section h5{
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    margin-top: -0.5vh;
  }
  
  #skills-section{
    padding: 7vh 7vw;
    background-color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #skills-section img{
    display: inline-block;
    height: 20vh;
    padding: 2vh 2vw;
  }
  @media all and (max-aspect-ratio: 13/14) {
    #skills-section{
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }
  }
  
  #footer-section{
    text-align: center;
    background-color: #1c1c1c;
    padding: 3vh 0;
    color: whitesmoke;
  }
  #footer-section p{
    margin: 0;
  }
  
  #temp-h1{
    position: absolute;
    top: 56px;
  }
  .temp-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }